button
{
    padding: 8px 12px;
    border-radius: 20px;
    border: none;
    background-color: var(--thin-light-gray);
}

.button-s
{
    padding: 4px 12px;
}

.button-xs
{
    padding: 2px 8px;
}   